 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    overflow: hidden;
    padding: 10px;
 
}

img {
    width: 15%;
    height: 15%;
 
}

img:hover {
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add this CSS code to your stylesheet or within a <style> tag */

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px; /* Adjust the right margin according to your preference */
}
p
{
    font-size: 20px;
    margin-left: 40px;
}
button {
    font-size: inherit; /* Inherit the font size from the parent (optional) */
    width: 200px; /* Adjust the width according to your preference */
    height: 40px; /* Adjust the height according to your preference */
    margin-left: 40px;
    background-color: rgba(7, 148, 242, 0.93);
    border-radius: 8px;
    color: white;
    
    
}
a {
    text-decoration: none;
    color:rgba(7, 148, 242, 0.93);
}
/* Add this CSS code to your index.css file or in a style tag in your HTML head */
/* 
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
} */

footer {
    /* text-align: center;
    padding: 20px;
    background-color: #333;
    color: white; */
    margin-top: 5%; /* Push the footer to the bottom */
    margin-left: 40px;
}

footer img {
    width: 10%; /* Adjust the image width */
    height: 10%; /* Adjust the image height */
    margin-bottom: 10px; /* Add some space between the image and the text */
}

footer p {
    font-size: smaller; /* Decrease the font size */
    line-height: 1.5; /* Adjust the line height for better readability */
    margin: 0; /* Remove default margins */
}
/* styles.css */

footer {
    background-color:white;
    color: black;
    position: relative;
  
    padding-left: 20px;
}
.footer-content{
    display: inline-block;
}


/* .footer-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
} */

.footer-content-2nd{
    position: absolute;
    right: 0;
    margin-right: 20%;
    display: inline-block;
   
}
.footer-content img{
    height: 35%;
    width: 35%;
} 